<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- google fonts: oswald  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- Font-awesome: icons -->
  <script src="https://kit.fontawesome.com/6036f5d002.js" crossorigin="anonymous"></script>

  <title>HodlInfo | ₹ 26,03,367</title>
</head>

<body>
  <%- include('partial/header') %>
</body>

</html>