<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- google fonts: oswald  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/telegram.css">
  <link rel="stylesheet" href="/css/footer.css">
  <title>HodlInfo | ₹ 25,86,596</title>
</head>
<body>
  <header class="header telegram">
    <!-- main logo  -->
    <div class="header__logo">
      <img src="/images/logo.png" alt="logo">
    </div>

    <!-- switch box to change dark and light mode  -->
    <div class="header__styles-mode">
      <div class="mode__switch-box">
        <div class="mode__switch-btn"></div>
      </div>
    </div>
  </header>
  <main class="main__telegram">
    <h1>Connect <img src="/images/download.png" alt=""> Telegram</h1>
    <section>
      <h2>Add bot to your group</h2>
      <article>
        <h3>Manual :</h3>
        <p>1. Open the telegram app.</p>
        <p>2. Open the group you want to add the bot to.</p>
        <p>3. Click on add members in group settings.</p>
        <p>4. Search @HodlInfoBot and click it.</p>
      </article>
      
      <article>
        <h3>Automatic :</h3>
        <p>Go to : <a href="https://t.me/HodlInfoBot?startgroup=true">https://t.me/HodlInfoBot?startgroup=true</a></p>
      </article>
    </section>
  
    <section></section>
    <h2>Chat with the bot</h2>
    <article>
      <h3>Manual :</h3>
      <p>1. Open the telegram app.</p>
      <p>2. Click on new message button.</p>
      <p>3. In search bar type HodlInfoBot.</p>
      <p>4. Click on @HodlInfoBot.</p>
    </article>

    <article>
      <h3>Automatic :</h3>
      <p>Go to : <a href="https://t.me/HodlInfoBot">https://t.me/HodlInfoBot</a></p>
    </article>

    <hr>
    <div class="main__copyright">
      <div>
        <span>Copyright © 2019</span>
        <span>HodlInfo.com</span>
      </div>
      <div>
        <a href="mailto:neerajp4321@gmail.com">Support</a>
      </div>
    </div>
  </main>

  <!-- footer  -->
  <%- include('partial/footer') %>

  <!-- local scripts  -->
  <script src="/js/script.js"></script>
</body>
</html>