@import url("./index.css");

/* header  */
.header {
  display: flex;
  width: 100%;

  padding: 2rem var(--padding-x);
  padding-bottom: 1rem;
}

.header ul {
  list-style: none;
}

.header>* {
  flex: 1;
}

.header__stocks,
.header__styles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* header logo  */
.header__logo img {
  width: 60%;
}

/* header stocks  */

/* header stocks div  */
.header__stocks-visible,
.header__stocks-buy {
  padding: 0.4rem 1.2rem;
  height: max-content;

  display: flex;

  border-radius: 10px;
  background-color: var(--light-black);
}

body.light .header__stocks-visible,
body.light .header__stocks-buy {
  background-color: var(--light-white);
}

/* header dropdowns  */
.stock-control {
  position: relative;
}

.stock-control .fa-solid {
  margin-left: 0.5rem;
}

.header__stocks-visible {
  display: flex;

  cursor: pointer;
}

.header__stocks-hidden {
  display: none;
  transition: display 0.3s linear;
}

.header__stocks-hidden.show {
  display: block;
  padding: 1rem;

  position: absolute;
  top: 2.5rem;
  left: 1rem;

  background-color: var(--white);
  color: var(--light-black);

  width: 10rem;
  border-radius: 0.3rem;

  z-index: 10000;
}

.header__stocks-hidden li:hover {
  cursor: pointer;
  background-color: var(--light-white);
}

.header__stocks-buy a {
  background-color: transparent;
}

/* header styles  */
/* clock  */
.header__styles-clock {
  background-color: transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;

  color: var(--blue);
  font-weight: 500;
  border: 3px solid var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* connect telegram  */
.header__styles-connect a {
  background: var(--blue);
  color: var(--white);
  text-decoration: none;

  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.header__styles-connect img {
  margin-right: 0.4rem;
  width: 1rem;
}

/* mode change dark and light  */
.header__styles-mode {
  cursor: pointer;
}

.mode__switch-box {
  background: var(--light-black);
  border-radius: 1rem;
  position: relative;

  height: 2rem;
  width: 4rem;
}

body.light .mode__switch-box {
  background-color: var(--light-white);
}

.mode__switch-btn {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;

  left: 55%;
  top: 0.25rem;

  background-color: var(--blue);

  transition: left 0.3s linear;
}

body.light .mode__switch-btn {
  left: 5px;
}

@media screen and (max-width:1100px) {

  /* header logo  */
  .header__logo img {
    width: 80%;
  }
}


@media screen and (max-width: 900px) {

  /* header stocks div  */
  .header__stocks {
    align-items: center;
    justify-content: center;
  }

  .header__stocks-visible,
  .header__stocks-buy {
    padding: 0.2rem 0.5rem;
    margin: 0 0.3rem;
  }

}

@media screen and (max-width:767px) {

  .header {
    flex-direction: column;
    align-items: center;
  }

  /* header logo  */
  .header__logo img {
    width: 285px;
    margin-bottom: 1rem;
  }

  .header__stocks {
    margin-bottom: 1rem;
  }
}