:root {
  --light-blue: #5dc7c2;
  --blue: #3dc6c1;
  --dark-blue: #17a2b8;

  /* text color */
  --violet: #0c0f48;
  --white: #fff;

  /* element backgrounds  */
  --light-black: #2e3241;
  --light-white: #f8f9fa;

  /* active button  */
  --gray: #545b62;
  /* main background  */
  --dark-black: #191d28;

  /* font family  */
  --base-font: "Oswald";

  /* padding  */
  --padding-x: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--base-font), sans-serif;
  /* dark theme  */
  background-color: var(--dark-black);
  color: var(--white);
}

body.light {
  /* light theme  */
  background-color: var(--white);
  color: var(--dark-black);
}

button,
a {
  cursor: pointer;
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}