<header class="header">
  <!-- main logo  -->
  <div class="header__logo">
    <img src="/images/logo.png" alt="logo" width="250" height="50">
  </div>
  <div class="header__stocks">
    <div class="header__stocks-quoteunit">
      <!-- stock quote units: inr -->
      <ul>
        <% for( let quote of allQuoteUnits ) { %>
          <li><%= quote.toUpperCase() %></li>
        <% } %>
      </ul>
    </div>
    <div class="header__stocks-baseunit">
      <!-- stock base units  -->
      <ul>
        <% for( let units of allBaseUnits ) { %>
          <li><%= units.toUpperCase() %></li>
        <% } %>
      </ul>
    </div>
    <!-- stock buy button  -->
    <div class="header__stocks-buy">
      <button>BUY <%= stockToShow[0].base_unit.toUpperCase() %></button>
    </div>
  </div>
  <div class="header__tuning">
    <!-- moving clock animation  -->
    <div class="header__tuning-clock">

    </div>
    <!-- contact button: telegram  -->
    <div class="header__tuning-connect">
      <button>
        <i class="fa fa-brands fa-telegram"></i>
        Connect Telegram
      </button>
    </div>
    <!-- switch box to change dark and light mode  -->
    <div class="header__tuning-mode">
      <div class="mode__switch-box">
        <div class="mode__switch-btn"></div>
      </div>
    </div>
  </div>
</header>